<h1><%= @title %></h1>
<p><%= @content %></p>

<div>
  <a href="/<%= @title %>/edit">Edit page</a>
  <form method="post" action="<%= @title %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Page">
  </form>
</div>
